# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Dart/Flutter Package Analyzer
        # You may pin to the exact commit or the version.
        # uses: axel-op/dart-package-analyzer@7a6c3c66bce78d82b729a1ffef2d9458fde6c8d2
        uses: axel-op/dart-package-analyzer@v3
        with:
          # Token to connect to GitHub. Use secrets.GITHUB_TOKEN
          githubToken: ${{ secrets.GITHUB_TOKEN }}
    
  publishing:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2 # required!
        
      - name: '>> Dart package <<'
        uses: k-paxian/dart-package-publisher@master
        with:
          accessToken: ${{ secrets.PUBDEV_ACCESSTOKEN }}
          refreshToken: ${{ secrets.PUBDEV_REFRESHTOKEN }}
          dryRunOnly: false
          flutter: true