name: Analyze and Test
on:
    push:
        branches:
            - main
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review

jobs:
  analyze:
    runs-on: ubuntu-latest
    name: Dart Analyze
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.x'
          channel: 'any'
      - run: flutter pub get
      - run: flutter analyze

  tests:
    runs-on: ubuntu-latest
    name: Flutter Test
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '2.x'
        channel: 'any'

    - run: flutter pub get
    - run: flutter pub test
  # TODO enable this after upgrading to dart 3.x
  # score:
  #   runs-on: ubuntu-latest
  #   name: Dart package score

  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: axel-op/dart-package-analyzer@v3
  #       with:
  #         githubToken: ${{ secrets.GITHUB_TOKEN }}

  publishing:
    runs-on: ubuntu-latest
    name: Dart Publish Package Test
    needs: tests
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '2.x'
        channel: 'any'

    - run: flutter pub publish --dry-run

